html, body, .body--home, .site-wrapper, .region__body, .badge-link, .module--carousel__image-wrapper, .result__image, .vertical--map__sidebar, .vertical--map__sidebar__wrapper, .vertical--map__sidebar__header, .page-chrome_newtab {
    background-color: #1c1c1c;
}
.r-border-box, html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    overflow: hidden;
    overflow-y: auto;
    background-color: #f7f7f7;
    font-size: 90%;
    -webkit-text-size-adjust: 100%;
}
html, body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
html {
    line-height: 1;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
html[Attributes Style] {
    -webkit-locale: "en_US";
}
user agent stylesheet
html {
    display: block;
    color: -internal-root-color;
}

background-color:rgb(28, 28, 28);
#1c1c1chtml, body, .body--home, .site-wrapper, .region__body, .badge-link, .module--carousel__image-wrapper, .result__image, .vertical--map__sidebar, .vertical--map__sidebar__wrapper, .vertical--map__sidebar__header, .page-chrome_newtab
#f7f7f7html
border-bottom-color:rgb(0, 0, 0);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(0, 0, 0);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(0, 0, 0);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(0, 0, 0);
border-top-style:none;
border-top-width:0px;
box-sizing:border-box;
color:rgb(0, 0, 0);
display:block;
font-family:Times;
font-size:14.4px;
font-stretch:100%;
font-style:normal;
font-variant-caps:normal;
font-variant-east-asian:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-weight:400;
height:1001px;
line-height:14.4px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
min-height:100%;
overflow-x:hidden;
overflow-y:auto;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
text-size-adjust:100%;
vertical-align:baseline;
width:1365px;
-webkit-locale:"en_US";