<style>

* {
   margin: 0%;
   padding: 0%;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10%;
    padding: 10%
}

header {
    color: beige;
    font: outline;
    font-size: 40px;
    padding: 10px 10px 10px 10px;
    min-width: 60px;
    border-bottom: 3px solid;
}

section {
    color: rgb(245, 113, 6);
    font-size: 30px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}
article {
    color: antiquewhite;
    font-size: 15px;
}

</style>