.bluepage {
    background-color: rgb(95, 99, 189);
    height: 563px;
    line-height: 23.0333px;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.searchbuttonblue {
    height: 45px;
    width: 300px;
    background: rgba(34, 34, 34, 0.5);   
    padding-left: 10px;
    padding-right: 10px; 
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: none;
}
.containerblue {
    width:80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

#duckimageblue {
    width: 600px;
    height: 250px;
    margin-left: 250px;
    
}
.textblue{
    padding-top: 120px;
    color: rgb(255, 255, 255);
}