* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
@media only screen and (min-width:1100px){
  body {
    width: 100%;
    height: 1250px;
    margin: 0 auto;
    background-color: darkgrey;
}

header {
    width: 1150px;
    height: 620px;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
}

figure {
    width: 412px;
    height: 412px;
    background-image: url("game1.png");
    margin-left: 350px;
}

h1 {
    margin-bottom: 40px;
    background-color: brown;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;

}

h3 {
    color: brown;
    font-family: 'PT Sans Narrow', sans-serif;
}

p {
    color: brown;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
}
  
}
@media only screen and (min-width:740px) and (max-width:1099px){
  body {
    width: 100%;
    height: 750px;
    margin: 0 auto;
    background-color: darkgrey;
}

header {
    width: 720px;
    height: 620px;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
}

figure {
    width: 412px;
    height: 412px;
    background-image: url("game1.png");
    margin-left: 25%;
}

h1 {
    margin-bottom: 40px;
    background-color: brown;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;

}

h3 {
    color: brown;
    font-family: 'PT Sans Narrow', sans-serif;
}

p {
    color: brown;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
}
  
}
@media only screen and (min-width:280px) and (max-width:739px){
  body {
    width: 100%;
    height: 750px;
    margin: 0 auto;
    background-color: darkgrey;
}

header {
    width: 460px;
    height: 640px;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    margin-top: 20px;
    padding-top: 50px;
    text-align: center;
}

figure {
    width: 412px;
    height: 412px;
    background-image: url("game1.png");
    margin-left: 10%;
}

h1 {
    margin-bottom: 40px;
    background-color: brown;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;

}

h3 {
    color: brown;
    font-family: 'PT Sans Narrow', sans-serif;
}

p {
    color: brown;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
}
  
}
