body{
font-style: cursuve;
}
h1 {
background-color: aliceblue;
font-size: 30px;
text-align: center;
}

img {
    width: 20%;
    height: 20%;
    float: left;
}

.description {
    font-family: cursive;
    font-size: 30px;
    text-align: justify;
    float: right;
    width: 75%;
    margin-top:5%;
    background-color:brown;}




 
