/*Fonts*/
@font-face {
    font-family: "ddg-serp-icons";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/ddg-serp-icons.woff") format("woff");
  }
  
  @font-face {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/ProximaNova-Reg-webfont.woff") format("woff");
  }
  
  /*Global*/
  body {
    background: #f7f7f7;
    font-family: "ProximaNova";
    color: #aaa;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  /*Header*/
  
  header nav{
      float:right;
      margin-top:12px;
  }
  
  header a{
      text-decoration: none;
  }
  
  header li{
      float:left;
      display:inline;
      padding: 5px 10px 0 10px;
  }
  
  #nav-statement, #nav-social-link{
      padding-top:10px;
  }
  
  /*#nav-social-link div:hover{
      color: #6d6d6d;
  }*/
  
  #nav-statement {
      font-size: 95%;
    }
    
  #Privacy::after, #social-dropdown-menu::before {
      /*font-size: 90%;*/
      font-family: "ddg-serp-icons";
      content: "\76";
      color: #aaa;
    }
  
  #navbar-twitter-icon::after{
      font-family: "ddg-serp-icons";
      content: "\74";
      color: #aaa;
      font-size:110%;
  }
  
  /*#menu-symbol span::after{
      font-family: "ddg-serp-icons";
      content: "\74";
      color: #aaa;
      font-size:110%;
  }*/
  
  #menu-symbol img{
      width:15px;
      margin:7px 6px 4px 6px;
  }
  
  #navbar-twitter-icon:hover::after,
  #nav-statement:hover,
  #Privacy:hover::after
  
  {
      color:#6d6d6d;
  }
  
  #social-dropdown-menu:hover::before{
      color:#6d6d6d;
  }
  
  #menu-symbol:hover{
      margin:0;
      background-color: #6d6d6d;
  }
  
  
  /*Search*/
  
  .logo-wrap-home {
      display: block;
      min-width: 300px;
      min-height: 200px;
      margin: auto;
      margin-bottom: .8em;
      margin-top: -0.5em;
      padding-top:120px;
      padding-bottom: 20px;
  }
  .search-wrap-home{
      display: block;
      margin: auto;
  }
  
  #form-search{
      margin:auto;
      max-width:40%;
      font-size: 1.14em;
      position: relative;
      height: 2.5em;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.15);
      box-shadow: 0 2px 3px rgba(0,0,0,0.06);
      padding: 0;
      vertical-align: baseline;
  }
  
  #search-text{
      font-size: 1.1em;
      font-weight: normal;
      display: block;
      width: 100%;
      background: none;
      outline: none;
      border: none;
      padding: 0;
      height: 2.545455em;
  }
  
  #search-button{
      width: 20px;
      height: 2.545455em;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: auto;
      margin: auto;
      padding-inline-start: 15px;
  
      background-image: url(../img/magnifying-glass.svg);
      background-position: 70% 50%;
      background-repeat: no-repeat;
      background-size: 80%;
  
  }
  
  #search-button:hover{
      background-color: rgb(55, 158, 86);
      background-image: url(../img/magnifying-glass-w.png);
  }
  
  #logo_home_link {
      width: 205px;
      height: 200px;
      display: block;
      position: relative;
      margin: 0 auto;
      background-image: url(../img/logo_homepage.normal.v108.svg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100%;
  }
  
  /*
  span::before {
    font-family: "ddg-serp-icons";
    speak: none;
    content: "\74";
    /*color: #6d6d6d;*/
   /* color: #aaa;
  }
  span::after {
    font-family: "ddg-serp-icons";
    speak: none;
    content: "\76";
    /*color: #6d6d6d;*/
   /* color: #aaa;
  }
  p span::before {
    font-family: "ddg-serp-icons";
    speak: none;
    content: "\63";
    /*color: #6d6d6d;*/
   /* color: #aaa;
  }
  p span::after {
    font-family: "ddg-serp-icons";
    speak: none;
    content: "\76";
    /*color: #6d6d6d;*/
  /*  color: #aaa;
  }*/