/* GENEL KAPSAYICILAR */
*{
    margin:0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    width: 100%;
    height: 60px;
    margin:20px auto;
    }
nav{
    width: 100%;
    height: 60px;
    margin: 20px auto;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    width: 140px;
    height: 60px;
    text-align: center;
    padding: 0 15px;
    color:rgb(7, 31, 51);
    font-size: 22px;
    font-family: 'Acme', sans-serif;
    transition: all 0.5s ease-in-out;
    line-height: 60px;
    
}
nav ul li a:hover{
    background-color: rgb(7, 31, 51);
    color: white;
}
nav ul li:nth-child(1){
    background-image: url("icons8-pizza-48.png"); 
    background-repeat: no-repeat;
    background-position: center right;
}
nav ul li:nth-child(3){
    color: white; 
    background-color:rgb(214, 236, 17);
    margin-left: 5%;
}
#logo {
    display: block;
    width: 64px;
    height: 60px;
    background-image: url("icons8-phone-64.png") ; 
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 90%;     

}
#info{
    display: block;
    width: 150px;
    height: 60px;
    text-decoration: underline;
    font-size: 15px;  
    color: blue;
    margin-left: 80%;
}

