/*header and nav*/

header{
    background:url(../images/pizza.jpg);
    color:#050000;
    padding-top:30px;
    min-height;70px;
    border-bottom: #e8491d 3px solid;

}


header a{
    color:#181701;
    text decoration:none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin:0;
    padding:0;
}
header li{
    float:left;
    display:inline;
    padding:0 20px 0 20px;  
}

header #branding{
    float:left;
}
header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color:#07c020;
    font-weight: bold;


header a:hover {
    color:#cccccc;
    font-weight:bold;
}
