<style>body {
    bacground-color: black;
    margin: 10%;
    padding: 10%
}

header {
    color: rgba(73, 171, 252, 0.925);
    font: outline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px
}

section {
    color: rgb(248, 194, 150);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

article {
    color: rgb(252, 207, 170)
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 33.333%;
    border: 6px solid #222;
}

td::after {
    content: "";
    display: block;
    margin-top: 100%;
}

td {
    border: 6px solid #222;
}

td:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
}

td:nth-of-type(2) {
    border-top-color: transparent;
}

td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
}

tr:nth-of-type(3) td {
    border-bottom-color: transparent;
}

</style>