body {
    background-color: #f7f7f7;
    font-family: "Montserrat", "sans-serif";
	color: #9a9a9a;
}

/* Header */

.nav {
    display: block;
    margin: 22px auto auto 16px;
    margin-top: 22px;
    height: 44px;
    right: 7px;
    position: absolute;
    bottom: 0;
    top: 0;
    /* z-index: 199; */
   }

ul {
	list-style-type: none;
	align-items: center;
	justify-content: end;
	margin: 20px;
}

li { 
	float: right;
    margin-left: 20px;
    font-size: 100%;
 }
#privacy:hover, #privacy:focus {

    color: #6d6d6d;
}
#privacy {

    cursor: pointer;
    font-size: 12px;
    margin:3px 0 0 20px;
}
#menu {
    background-image: url("../IMG/Menu.png");
    background-repeat: no-repeat;
    background-size: 40px;
    margin-top: -10px;
    width: 40px;
    height: 40px;
    background-color: aqua;
}
#menu:hover {
	background-image: url("../IMG/Menu_hover.png");
	border-radius: 3px;
}
#twitter {
    background-image: url("../IMG/Tweeter.png");
    background-repeat: no-repeat;
    background-size: 40px;
    margin-top: -10px;
    width: 40px;
    height: 40px;
    background-color: aqua;
}
#twitter:hover {
	background-image: url("../IMG/Tweeter_hover.png");
	border-radius: 3px;
} 


/* homepage */

/* searchbar */

.logo {
    margin-top: 10%;
    /* background-color: #6d6d6d; */
    display: flex;
    justify-content: space-around;
    }

.search_input {
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin-top: 20px;
}
#input_box {
    width: 600px;
    height: 40px;
    /* border-style: none; */
    border-width: 1px;
   border-color: #f7f7f7;   
}
#search_icon {
    height: 46px;
    width: 45px;
    
}

#search_icon:hover {
  background-image: url("../IMG/Search_hover.png");
  height: 46px;
  width: 45px;
} 

.homepage_text {
    /* background-color: royalblue; */
    text-align: center;

}

/* Homepage Footer Logo */
  
.footer_logo {
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
    /* background-color: aqua; */
}

#image_footer {
    height: 84px;
    width: 100px;
    opacity: 0.85;
    transition: opacity .25s ease;
    }

#image_footer:hover {
opacity:1;
}

#arrow {
    height: 28px;
    width: 28px;
    top: 90%;
    left: 50%;
    margin:-10px;
    position: absolute;
    background-color: black;
    border-radius: 100%;
}

