body {
    background-color: #f7f7f7;
    font-family: "Montserrat", "sans-serif";
    color: #9a9a9a;

}

/* Header */

.nav {
    display: block;
    margin: 22px auto auto 16px;
    margin-top: 22px;
    height: 44px;
    right: 7px;
    position: absolute;
    bottom: 0;
    top: 0;
    /* z-index: 199; */
   }

ul {
	list-style-type: none;
	align-items: center;
	justify-content: end;
	margin: 20px;
}

li { 
	float: right;
    margin-left: 20px;
    font-size: 100%;
 }
#privacy:hover, #privacy:focus {

    color: #6d6d6d;
}
#privacy {

    cursor: pointer;
    font-size: 12px;
    margin:3px 0 0 20px;
}
#menu {
    background-image: url("../IMG/Menu.png");
    background-repeat: no-repeat;
    background-size: 40px;
    margin-top: -10px;
    width: 40px;
    height: 40px;
    background-color: aqua;
}
#menu:hover {
	background-image: url("../IMG/Menu_hover.png");
	border-radius: 3px;
}
#twitter {
    background-image: url("../IMG/Tweeter.png");
    background-repeat: no-repeat;
    background-size: 40px;
    margin-top: -10px;
    width: 40px;
    height: 40px;
    background-color: aqua;
}
#twitter:hover {
	background-image: url("../IMG/Tweeter_hover.png");
	border-radius: 3px;
} 


/* homepage */

/* searchbar */

.logo {
    margin-top: 10%;
    /* background-color: #6d6d6d; */
    display: flex;
    justify-content: space-around;
    }

.search_input {
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin-top: 20px;
}
#input_box {
    width: 600px;
    height: 40px;
    /* border-style: none; */
    border-width: 1px;
   border-color: #f7f7f7;   
}
#search_icon {
    height: 46px;
    width: 45px;
    
}

#search_icon:hover {
  background-image: url("../IMG/Search_hover.png");
  height: 46px;
  width: 45px;
} 

.homepage_text {
    /* background-color: royalblue; */
    text-align: center;

}

/* Homepage Footer Logo */
  
.footer_logo {
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
    /* background-color: aqua; */
}

#image_footer {
    height: 84px;
    width: 100px;
    opacity: 0.85;
    transition: opacity .25s ease;
    }

#image_footer:hover {
opacity:1;
}

#arrow {
    height: 28px;
    width: 28px;
    top: 83%;
    left: 50%;
    margin:-10px;
    position: absolute;
    background-color: black;
    border-radius: 100%;
}

/* Second Page */

.secondpage {
    height: 50%;
    width: 100%;
    border: 1px solid steelblue;
    margin: 0 auto;
    background-color:  #58b792;
    text-align: center;
    position: relative;
    font: inherit;
    font-size: 14px;
    font-weight: 400;
    vertical-align: baseline;
    margin-top: 10%;
}

.secondpage h1 {
    
    width: 50%;
    display: block;
    margin: 25px auto;
    margin-top: 100px;
    /* border: 1px solid red; */
    height: 100px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0,0,0,0.1);

}
.secondpage p {
    width: 50%;
    height: 70px;
    /* border: 1px solid darkmagenta; */
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    padding-top: .25em;
    padding-bottom: .25em;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 4px rgba(0,0,0,0.25);
}

#secondpage_area{
    width: 20%;
    margin: 5px auto 0;
    color:#fff;
    background: rgba(0,0,0,0.4) !important;
    font-size: 18px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    position: relative;
    text-shadow: 0 1px 1px rgba(255,255,255,0.1);
    cursor: pointer;
    white-space: nowrap;
    padding: 12px 16px;
    font-weight: 600;
    box-sizing: content-box;
    transition: all 0.5s ease-in-out;
}
#secondpage-area:hover{
    background: rgba(0,0,0,0.6) !important;
}
#secondpage_image img {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 50%;
}

/* Third Page */

.thirdpage {
    height: 50%;
    width: 100%;
    border: 1px solid steelblue;
    margin: 0 auto;
    background-color:  #f5a339;
    text-align: center;
    position: relative;
    font: inherit;
    font-size: 14px;
    font-weight: 400;
    vertical-align: baseline;
    margin-top: 10%;
}

.thirdpage h1 {
    
    width: 50%;
    display: block;
    margin: 25px auto;
    margin-top: 100px;
    /* border: 1px solid red; */
    height: 100px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0,0,0,0.1);

}
.thirdpage p {
    width: 50%;
    height: 70px;
    /* border: 1px solid darkmagenta; */
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    padding-top: .25em;
    padding-bottom: .25em;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 4px rgba(0,0,0,0.25);
}

#thirdpage_area{
    width: 20%;
    margin: 5px auto 0;
    color:#fff;
    background: rgba(0,0,0,0.4) !important;
    font-size: 18px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    position: relative;
    text-shadow: 0 1px 1px rgba(255,255,255,0.1);
    cursor: pointer;
    white-space: nowrap;
    padding: 12px 16px;
    font-weight: 600;
    box-sizing: content-box;
    transition: all 0.5s ease-in-out;
}
#thirdpage-area:hover{
    background: rgba(0,0,0,0.6) !important;
}
#thirdpage_image img {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 50%;
}

/* Fourth Page */

.fourthpage {
    height: 50%;
    width: 100%;
    border: 1px solid steelblue;
    margin: 0 auto;
    background-color:  #5f63bd;
    text-align: center;
    position: relative;
    font: inherit;
    font-size: 14px;
    font-weight: 400;
    vertical-align: baseline;
    margin-top: 10%;
}

.fourthpage h1 {
    
    width: 50%;
    display: block;
    margin: 25px auto;
    margin-top: 100px;
    /* border: 1px solid red; */
    height: 100px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0,0,0,0.1);

}
.fourthpage p {
    width: 50%;
    height: 70px;
    /* border: 1px solid darkmagenta; */
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    padding-top: .25em;
    padding-bottom: .25em;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 4px rgba(0,0,0,0.25);
}

#fourthpage_area{
    width: 20%;
    margin: 5px auto 0;
    color:#fff;
    background: rgba(0,0,0,0.4) !important;
    font-size: 18px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    position: relative;
    text-shadow: 0 1px 1px rgba(255,255,255,0.1);
    cursor: pointer;
    white-space: nowrap;
    padding: 12px 16px;
    font-weight: 600;
    box-sizing: content-box;
    transition: all 0.5s ease-in-out;
}
#fourthpage-area:hover{
    background: rgba(0,0,0,0.6) !important;
}
#fourthpage_image img {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 50%;
}

/* Fifth Page */

.fifthpage {
    height: 50%;
    width: 100%;
    border: 1px solid steelblue;
    margin: 0 auto;
    background-color:  #87cef5;
    text-align: center;
    position: relative;
    font: inherit;
    font-size: 14px;
    font-weight: 400;
    vertical-align: baseline;
    margin-top: 10%;
}

.fifthpage h1 {
    
    width: 50%;
    display: block;
    margin: 25px auto;
    margin-top: 100px;
    /* border: 1px solid red; */
    height: 100px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    color: #365374;
    text-shadow: 0 1px 4px rgba(0,0,0,0.1);

}
.fifthpage p {
    width: 50%;
    height: 70px;
    /* border: 1px solid darkmagenta; */
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    padding-top: .25em;
    padding-bottom: .25em;
    color:#365374;
    text-shadow: 0 1px 4px rgba(0,0,0,0.25);
}

#fifthpage_area{
    width: 20%;
    margin: 5px auto 0;
    color:#fff;
    background: rgba(0,0,0,0.4) !important;
    font-size: 18px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    position: relative;
    text-shadow: 0 1px 1px rgba(255,255,255,0.1);
    cursor: pointer;
    white-space: nowrap;
    padding: 12px 16px;
    font-weight: 600;
    box-sizing: content-box;
    transition: all 0.5s ease-in-out;
}
#fifthpage-area:hover{
    background: rgba(0,0,0,0.6) !important;
}
#fifthpage_image img {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 50%;
}

.nav_page5 {
    display: contents;
    margin: 22px auto auto 16px;
    margin-top: 22px;
    height: 44px;
    right: 7px;
    bottom: 0;
    top: 0;
   }

   #page5list1 {
    font-weight: 700;
    color: #365374;
   }
   
   #page5list2 {
    color:#365374
}