/* GENEL KAPSAYICILAR */
*{
    margin:0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
@media only screen and (min-width: 1755px) {
    header{
        width: 100%;
        height: 70px;
        position: relative;
        margin:20px auto;
    
    }
    nav {
        width: 100%;
        height: 60px;
        position: relative;
        line-height: 60px; 
        background-color: white; 
        margin:20px auto; 
    }
    nav ul {
        overflow: hidden;
        position: fixed;
        top:0 ;
        background-color: white;
    }
    nav ul li{
        float: left;
    }
    nav ul li:nth-child(1){
        background-image: url("icons8-pizza-48.png"); /* GENEL KAPSAYICILAR */
        background-repeat: no-repeat;
        background-position: center right;
    }
    nav ul li:nth-child(3){
        color: white; /* GENEL KAPSAYICILAR */
        background-color:rgb(214, 236, 17);
        margin-left: 90px;
    }
    nav ul li a {
        display: block;
        width: 200px;
        height: 60px;
        text-align: center;
        padding: 0 15px;
        color:rgb(7, 31, 51);
        font-size: 32px;
        font-family: 'Acme', sans-serif;
        transition: all 0.5s ease-in-out;
        
    }
    nav ul li a:hover{
        background-color: rgb(7, 31, 51);
        color: white;
    }
    #contact{
        float: left;
        background-color: chocolate;
        width: 500px;
        height: 60px;
    }
    #logo {
        display: block;
        width: 64px;
        height: 60px;
        background-image: url("icons8-phone-64.png") ; 
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat; 
        margin-left: 200px;     
    
    }
    #info{
        display: block;
        width: 200px;
        height: 60px;
        text-decoration: underline;
        font-size: 25px;  
        color: blue;
    }
    main{
        width: 100%;
        height: 650px;
        position: relative;
        margin:20px auto;
        padding-top: 50px;
        background-image: url("pizza-1.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #order{
        width: 1000px;
        height: 150px;
        margin: 0 auto;    
    }
    #order ul li{
        float: left;
    }
    #order ul li a{
        display: block;
        width: 300px;
        height: 150px;
        text-align: center;
        line-height: 150px;
        color: rgb(7, 31, 51);
        font-size: 32px;
        font-family: 'Acme', sans-serif;
        transition: all 0.5s ease-in-out;
        background-color:rgba(255, 255, 255,0.5);
        margin: 60px 100px;
        border-radius: 25px;
    }
    #order ul li a:hover {
        background-color: white;
        color:rgb(7, 31, 51);
    }
    main p {
        text-align: center;
        width: 1000px;
        height: 120px;
        clear: both;
        margin: 60px auto;
        font-family: 'Rokkitt', serif;
        font-size: 22px;
        line-height: 30px;
        padding-top: 30px;
        border-radius: 25px;
        transition: all 0.5s ease-in-out;
        background-color: white;
        color:rgb(7, 31, 51);
    }
    main form{
        margin: 30px auto;
        width: 600px;
        height: 80px;
    }
    main input{
        width: 500px;
        height: 75px;
        margin: 0 auto;
        text-align: center;
        font-size: 25px;
        font-family: 'Rokkitt', serif;
    }
    h1 {
        background-color: rgb(7, 31, 51);
        color: white;
        margin-top: 30px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-family: 'Acme', sans-serif;
    }
    aside {
        width: 100%;
        height: 600px;
        margin: 100px auto 50px;
    }
    
    aside ul li {
        float: left;
    }
    #p1 {
        display: block;
        width: 400px;
        height: 600px;
        margin-left: 140px;
        background-image: url("1.jpg");
        background-size: cover;
        background-position: center center;
    }
    
    #p2 {
        display: block;
        width: 400px;
        height: 600px;
        margin-left: 140px;
        background-image: url("2.jpg");
        background-size: cover;
        background-position: center center;
    }
    
    #p3 {
        display: block;
        width: 400px;
        height: 600px;
        margin-left: 140px;
        background-image: url("3.jpg");
        background-size: cover;
        background-position: center center;
        background-color: aquamarine;
    }
    section {
        width: 100%;
        height: 150px;
        float: left;
        
    }
    
    section ul li {
        float: left;
    }
    
    section ul li a {
        display: block;
        width: 400px;
        height: 480px;
        text-decoration: none;
        text-align: center;
        color: rgb(7, 31, 51);
        line-height: 80px;
        margin-left: 140px;
    }
    
    section ul li a p {
        width:400px;
        height: 150px;
        line-height: 27px;
        padding-top: 10px;
        font-size: 32px;
        font-family: 'Rokkitt', serif;
    }
    .order{
        width: 100%;
        height: 60px;
        margin: 100px auto;
        clear: both;
    }
    .order ul li {
        float: left;
    }
    .order ul li input{
        display: block;
        width: 400px;
        height: 60px;
        text-decoration: none;
        text-align: center;
        color: white;
        margin-left: 140px;
        background-color: rgb(7, 31, 51);
        font-size: 32px;
        font-family: 'Rokkitt', serif;
        transition: all 0.6s ease-in-out;
    }
    .order ul li input:hover{
        color: rgb(7, 31, 51);
        background-color: white;
        cursor: pointer;
    }
    footer{
        width: 100%;
        height: 200px;
        border: 2px solid #2c3e50;
        border-radius: 25px;
        background-color: lightgrey;
    }
    #social{
        width: 300px;
        height: 200px;
        margin-left: 100px;
        float: left;
    }
    #img{
        padding-left: 15px;
    }
    img{
        margin-right: 25px;
    }
    #download{
        width: 300px;
        height: 100px;
        background-image: url("App-Store-Google-Play-Icons.png");
        background-size: cover;
        background-position: center center;
    }
    
    
    #message {
        width: 500px;
        height: 200px;
        margin-left: 220px;
        float: left;
    }
    #message p {
        height: 40px;
        width: 500px;
        text-align: center;
        font-size: 22px;
        font-family: 'Rokkitt', serif;
        border: 1px solid #2c3e50;
        line-height: 40px;
        background-color: #2c3e50;
        color: white;
    
    }
    #message input {
        width: 200px;
        height: 50px;
        margin-left: 130px;
        background-color: #2c3e50;
        color: white;
    }
    #copy{
        width: 400px;
        height: 200px;
        float: left;
        padding: 100px 0 0 200px;
        color: #2c3e50;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1754px) {
    header{
        width: 100%;
        height: 70px;
        position: relative;
        margin:20px auto;
    
    }
    nav {
        width: 100%;
        height: 50px;
        position: relative;
        line-height: 60px; 
        background-color: white;
        margin:30px auto; 
        
    }
    nav ul {
        overflow: hidden;
        position: fixed;
        top:0px ;
        background-color: white;
    }
    nav ul li{
        float: left;
    }
    nav ul li:nth-child(1){
        background-image: url("icons8-pizza-48.png"); /* GENEL KAPSAYICILAR */
        background-repeat: no-repeat;
        background-position: center right;
    }
    nav ul li:nth-child(3){
        color: white; /* GENEL KAPSAYICILAR */
        background-color:rgb(214, 236, 17);
        margin-left: 40px;
    }
    nav ul li a {
        display: block;
        width: 140px;
        height: 50px;
        text-align:left;
        padding: 0 15px;
        color:rgb(7, 31, 51);
        font-size: 20px;
        font-family: 'Acme', sans-serif;
        transition: all 0.5s ease-in-out;
        
    }
    nav ul li a:hover{
        background-color: rgb(7, 31, 51);
        color: white;
    }
   
    #logo {
        display: block;
        width: 64px;
        height: 50px;
        background-image: url("icons8-phone-64.png") ; 
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat; 
        margin-left: 100px;     
    
    }
    #info{
        display: block;
        width: 150px;
        height: 50px;
        text-decoration: underline;
        font-size: 15px;  
        color: blue;
    }
    main{
        width: 100%;
        height: 650px;
        position: relative;
        margin:0px auto;
        padding-top: 50px;
        background-image: url("pizza-1.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #order{
        width: 1000px;
        height: 150px;
        margin: 0 auto;    
    }
    #order ul li{
        float: left;
    }
    #order ul li a{
        display: block;
        width: 300px;
        height: 150px;
        text-align: center;
        line-height: 150px;
        color: rgb(7, 31, 51);
        font-size: 32px;
        font-family: 'Acme', sans-serif;
        transition: all 0.5s ease-in-out;
        background-color:rgba(255, 255, 255,0.5);
        margin: 60px 100px;
        border-radius: 25px;
    }
    #order ul li a:hover {
        background-color: white;
        color:rgb(7, 31, 51);
    }
    main p {
        text-align: center;
        width: 1000px;
        height: 120px;
        clear: both;
        margin: 60px auto;
        font-family: 'Rokkitt', serif;
        font-size: 22px;
        line-height: 30px;
        padding-top: 30px;
        border-radius: 25px;
        transition: all 0.5s ease-in-out;
        background-color: white;
        color:rgb(7, 31, 51);
    }
    main form{
        margin: 30px auto;
        width: 600px;
        height: 80px;
    }
    main input{
        width: 500px;
        height: 75px;
        margin: 0 auto;
        text-align: center;
        font-size: 25px;
        font-family: 'Rokkitt', serif;
    }
    h1 {
        background-color: rgb(7, 31, 51);
        color: white;
        margin-top: 30px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-family: 'Acme', sans-serif;
    }
    aside {
        width: 100%;
        height: 460px;
        margin: 30px auto 30px;
        
    }
    
    aside ul li {
        float: left;
    }
    #p1 {
        display: block;
        width: 300px;
        height: 450px;
        margin-left: 75px;
        background-image: url("1.jpg");
        background-size: cover;
        background-position: center center;
    }
    
    #p2 {
        display: block;
        width: 300px;
        height: 450px;
        margin-left: 75px;
        background-image: url("2.jpg");
        background-size: cover;
        background-position: center center;
    }
    
    #p3 {
        display: block;
        width: 300px;
        height: 450px;
        margin-left: 75px;
        background-image: url("3.jpg");
        background-size: cover;
        background-position: center center;
        background-color: aquamarine;
    }
    section {
        width: 100%;
        height: 150px;
        float: left;
        
        
    }
    
    section ul li {
        float: left;
    }
    
    section ul li a {
        display: block;
        width: 300px;
        height: 480px;
        text-decoration: none;
        text-align: center;
        color: rgb(7, 31, 51);
        line-height: 80px;
        margin-left: 75px;
    }
    
    section ul li a p {
        width:300px;
        height: 150px;
        line-height: 27px;
        padding-top: 10px;
        font-size: 22px;
        font-family: 'Rokkitt', serif;
    }
    .order{
        width: 100%;
        height: 60px;
        margin: 50px auto;
        clear: both;
    }
    .order ul li {
        float: left;
    }
    .order ul li input{
        display: block;
        width: 300px;
        height: 60px;
        text-decoration: none;
        text-align: center;
        color: white;
        margin-left: 75px;
        background-color: rgb(7, 31, 51);
        font-size: 32px;
        font-family: 'Rokkitt', serif;
        transition: all 0.6s ease-in-out;
    }
    .order ul li input:hover{
        color: rgb(7, 31, 51);
        background-color: white;
        cursor: pointer;
    }
    footer{
        width: 100%;
        height: 200px;
        border: 2px solid #2c3e50;
        border-radius: 25px;
        background-color: lightgrey;
    }
    #social{
        width: 250px;
        height: 200px;
        margin-left: 50px;
        float: left;
        
    }
    #img{
        padding-left: 15px;
    }
    img{
        margin-right: 15px;
    }
    #download{
        width:250px;
        height: 100px;
        background-image: url("App-Store-Google-Play-Icons.png");
        background-size: cover;
        background-position: center center;
    }
    
    
    #message {
        width: 350px;
        height: 200px;
        margin-left: 100px;
        float: left;
        
    }
    #message p {
        height: 40px;
        width: 500px;
        text-align: center;
        font-size: 22px;
        font-family: 'Rokkitt', serif;
        border: 1px solid #2c3e50;
        line-height: 40px;
        background-color: #2c3e50;
        color: white;
    
    }
    #message input {
        width: 200px;
        height: 50px;
        margin-left: 130px;
        background-color: #2c3e50;
        color: white;
    }
    #copy{
        width: 400px;
        height: 200px;
        float: left;
        padding: 100px 0 0 200px;
        color: #2c3e50;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
    header{
        width: 100%;
        height: 10px;
        position: relative;
        margin:20px auto;
    
    }
    nav {
        width: 100%;
        height: 50px;
        position: relative;
        line-height: 50px; 
        background-color: white;
        margin:30px auto; 
        
    }
    nav ul {
        overflow: hidden;
        position: fixed;
        top:0px ;
        background-color: white;
    }
    nav ul li{
        float: left;
    }
    nav ul li:nth-child(1){
        background-image: url("icons8-pizza-48.png"); /* GENEL KAPSAYICILAR */
        background-repeat: no-repeat;
        background-position: center right;
    }
    nav ul li:nth-child(3){
        color: white; /* GENEL KAPSAYICILAR */
        background-color:rgb(214, 236, 17);
        margin-left: 10px;
    }
    nav ul li a {
        display: block;
        width: 70px;
        height: 50px;
        text-align:center;
        padding: 0 1px;
        color:rgb(7, 31, 51);
        font-size: 12px;
        font-family: 'Acme', sans-serif;
        transition: all 0.5s ease-in-out;
        
    }
    nav ul li a:hover{
        background-color: rgb(7, 31, 51);
        color: white;
    }
   
    #logo {
        display: block;
        width: 30px;
        height: 50px;
        background-image: url("icons8-phone-64.png") ; 
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat; 
        margin-left: 10px;     
    
    }
    #info{
        display: block;
        width: 130px;
        height: 50px;
        text-decoration: underline;
        font-size: 10px;  
        color: blue;
    }
    main{
        width: 100%;
        height: 750px;
        position: relative;
        margin:0px auto;
        padding-top: 50px;
        background-image: url("pizza-1.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #order{
        width: 580px;
        height: 150px;
        margin: 0 auto;    
    }
    #order ul li{
        float: left;
    }
    #order ul li a{
        display: block;
        width: 150px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        color: rgb(7, 31, 51);
        font-size: 15px;
        font-family: 'Acme', sans-serif;
        transition: all 0.5s ease-in-out;
        background-color:rgba(255, 255, 255,0.5);
        margin: 60px 70px;
        border-radius: 25px;
    }
    #order ul li a:hover {
        background-color: white;
        color:rgb(7, 31, 51);
    }
    main p {
        text-align: center;
        width: 580px;
        height: 120px;
        clear: both;
        margin: 60px auto;
        font-family: 'Rokkitt', serif;
        font-size: 22px;
        line-height: 30px;
        padding-top: 30px;
        border-radius: 25px;
        transition: all 0.5s ease-in-out;
        background-color: white;
        color:rgb(7, 31, 51);
    }
    main form{
        margin: 30px auto;
        width: 560px;
        height: 50px;
    }
    main input{
        width: 500px;
        height: 75px;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        font-family: 'Rokkitt', serif;
    }
    h1 {
        background-color: rgb(7, 31, 51);
        color: white;
        margin-top: 30px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-family: 'Acme', sans-serif;
    }
    aside {
        width: 100%;
        height: 230px;
        margin: 10px auto 30px;
        
        
    }
    
    aside ul li {
        float: left;
    }
    #p1 {
        display: block;
        width: 150px;
        height: 225px;
        margin-left: 37px;
        background-image: url("1.jpg");
        background-size: cover;
        background-position: center center;
    }
    
    #p2 {
        display: block;
        width: 150px;
        height: 225px;
        margin-left: 37px;
        background-image: url("2.jpg");
        background-size: cover;
        background-position: center center;
    }
    
    #p3 {
        display: block;
        width: 150px;
        height: 225px;
        margin-left: 37px;
        background-image: url("3.jpg");
        background-size: cover;
        background-position: center center;
        background-color: aquamarine;
    }
    section {
        width: 100%;
        height: 150px;
        float: left;
        
        
        
    }
    
    section ul li {
        float: left;
    }
    
    section ul li a {
        display: block;
        width: 150px;
        height: 140px;
        text-decoration: none;
        text-align: center;
        color: rgb(7, 31, 51);
        line-height: 80px;
        margin-left: 37px;
        
    }
    
    section ul li a p {
        width:150px;
        height: 150px;
        line-height: 27px;
        padding-top: 10px;
        font-size: 12px;
        font-family: 'Rokkitt', serif;
    }
    .order{
        width: 100%;
        height: 30px;
        margin: 50px auto;
        clear: both;
        
    }
    .order ul li {
        float: left;
    }
    .order ul li input{
        display: block;
        width: 150px;
        height: 30px;
        text-decoration: none;
        text-align: center;
        color: white;
        margin-left: 37px;
        background-color: rgb(7, 31, 51);
        font-size: 12px;
        font-family: 'Rokkitt', serif;
        transition: all 0.6s ease-in-out;
    }
    .order ul li input:hover{
        color: rgb(7, 31, 51);
        background-color: white;
        cursor: pointer;
    }
    footer{
        width: 100%;
        height: 250px;
        border: 2px solid #2c3e50;
        border-radius: 25px;
        background-color: lightgrey;
    }
    #social{
        width: 150px;
        height: 100px;
        margin-left: 10px;
        float: left;
        
    }
    #img{
        padding-left: 5px;
    }
    img{
        margin-right: 1px;
    }
    #download{
        width:150px;
        height: 100px;
        background-image: url("App-Store-Google-Play-Icons.png");
        background-size: cover;
        background-position: center center;
    }
    
    
    #message {
        width: 150px;
        height: 200px;
        margin-left: 100px;
        float: left;
    }
    #message p {
        height: 40px;
        width: 330px;
        text-align: center;
        font-size: 12px;
        font-family: 'Rokkitt', serif;
        border: 1px solid #2c3e50;
        line-height: 40px;
        background-color: #2c3e50;
        color: white;
        border-radius: 25px;
    
    }
    #message input {
        width: 200px;
        height: 50px;
        margin-left: 70px;
        background-color: #2c3e50;
        color: white;
    }
    #copy{
        width: 550px;
        height: 30px;
        float: left;
        text-align: center;
        color: #2c3e50;
        font-size: 12px;
    }
}
@media only screen and (max-width: 600px) {
    header{
        width: 100%;
        height: 10px;
        position: relative;
        margin:20px auto;
    
    }
    nav {
        width: 100%;
        height: 50px;
        position: relative;
        line-height: 50px;
        margin:30px auto; 
        
    }
    nav ul {
        overflow: hidden;
        position: fixed;
        top:0px ;
    }
    nav ul li{
        float: left;
    }
    nav ul li:nth-child(1){
        background-image: url("icons8-pizza-48.png"); /* GENEL KAPSAYICILAR */
        background-repeat: no-repeat;
        background-position: center right;
    }
    nav ul li:nth-child(3){
        color: white; /* GENEL KAPSAYICILAR */
        background-color:rgb(214, 236, 17);
        margin-left: 1px;
    }
    nav ul li a {
        display: block;
        width: 50px;
        height: 50px;
        text-align:left;
        padding: 0 1px;
        color:rgb(7, 31, 51);
        font-size: 12px;
        font-family: 'Acme', sans-serif;
        transition: all 0.5s ease-in-out;
        
    }
    nav ul li a:hover{
        background-color: rgb(7, 31, 51);
        color: white;
    }
   
    #logo {
        display: block;
        width: 30px;
        height: 50px;
        background-image: url("icons8-phone-64.png") ; 
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat; 
        margin-left: 1px;     
        display: none;
    
    }
    #info{
        display: block;
        width: 130px;
        height: 50px;
        text-decoration: underline;
        font-size: 10px;  
        color: blue;
    }
    main{
        width: 100%;
        height: 500px;
        position: relative;
        margin:0px auto;
        padding-top: 50px;
        background-image: url("pizza-1.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #order{
        width: 90%;
        height: 150px;
        margin: 0 auto;    
        
    }
    #order ul li{
        float: left;
    }
    #order ul li a{
        display: block;
        width: 90%;
        height: 100px;
        text-align: center;
        line-height: 40px;
        color: rgb(7, 31, 51);
        font-size: 15px;
        font-family: 'Acme', sans-serif;
        transition: all 0.5s ease-in-out;
        background-color:rgba(255, 255, 255,0.5);
        border-radius: 15px;
        margin: 20px 0 0 60%;

    }
    #order ul li a:hover {
        background-color: white;
        color:rgb(7, 31, 51);
    }
    main p {
        text-align: center;
        width: 95%;
        height: 180px;
        clear: both;
        margin: 20px auto;
        font-family: 'Rokkitt', serif;
        font-size: 15px;
        line-height: 30px;
        padding-top: 30px;
        border-radius: 25px;
        transition: all 0.5s ease-in-out;
        background-color: white;
        color:rgb(7, 31, 51);
    }
    main form{
        margin: 20px auto;
        width: 50%;
        height: 50px;
        
    }
    main input{
        width: 90%;
        height: 75px;
        margin: 0 auto;
        text-align: center;
        font-size: 15px;
        font-family: 'Rokkitt', serif;
        
    }
    h1 {
        background-color: rgb(7, 31, 51);
        color: white;
        margin-top: 30px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-family: 'Acme', sans-serif;
    }
    aside {
        width: 100%;
        height: 150px;
        margin: 10px auto 30px;
        
        
    }
    
    aside ul li {
        float: left;
    }
    #p1 {
        display: block;
        width: 100px;
        height: 150px;
        margin-left: 20%;
        background-image: url("1.jpg");
        background-size: cover;
        background-position: center center;
    }
    
    #p2 {
        display: block;
        width: 100px;
        height: 150px;
        margin-left: 40%;
        background-image: url("2.jpg");
        background-size: cover;
        background-position: center center;
    }
    
    #p3 {
        display: block;
        width: 100px;
        height: 150px;
        margin-left: 60%;
        background-image: url("3.jpg");
        background-size: cover;
        background-position: center center;
    }
    section {
        width: 100%;
        height: 150px;
        float: left;
        display: none;
            
    }
    
    section ul li {
        float: left;
        display: none;
    }
    
    section ul li a {
        display: none;
        width: 100%;
        height: 60px;
        text-decoration: none;
        text-align: center;
        color: rgb(7, 31, 51);
        line-height: 10px;
        margin-left: 30%;
        background-color: chocolate;
        display: none;
        
        
    }
    
    section ul li a p {
        width:100px;
        height: 150px;
        line-height: 7px;
        padding-top: 10px;
        font-size: 12px;
        font-family: 'Rokkitt', serif;
        display: none;
          
    }
    .order{
        width: 100%;
        height: 30px;
        margin: 30px auto;
        clear: both;
        
    }
    .order ul li {
        float: left;
    }
    .order ul li input{
        display: block;
        width: 100%;
        height: 30px;
        text-decoration: none;
        text-align: center;
        color: white;
        margin-left:40px;
        background-color: rgb(7, 31, 51);
        font-size: 12px;
        font-family: 'Rokkitt', serif;
        transition: all 0.6s ease-in-out;
    }
    .order ul li input:hover{
        color: rgb(7, 31, 51);
        background-color: white;
        cursor: pointer;
    }
    footer{
        width: 100%;
        height: 650px;
        border: 2px solid #2c3e50;
    }
    #social{
        width: 100%;
        height: 100px;
        margin-left: 30%;
        margin-bottom: 40px;
    }
    #download{
        width:45%;
        height: 100px;
        background-image: url("App-Store-Google-Play-Icons.png");
        background-size: cover;
        background-position: center center;
    }
    
    
    #message {
        width: 100%;
        height: 200px;
        margin-left: 5%;
        float: left;
    }
    #message p {
        height: 40px;
        width: 100%;
        text-align: center;
        font-size: 12px;
        font-family: 'Rokkitt', serif;
        border: 1px solid #2c3e50;
        line-height: 40px;
        background-color: #2c3e50;
        color: white;
        border-radius: 25px;
    
    }
    #message input {
        width: 100%;
        height: 50px;
        background-color: #2c3e50;
        color: white;
    }
    #copy{
        width: 100%;
        height: 30px;
        float: left;
        text-align: center;
        color: #2c3e50;
        font-size: 12px;
    }
}
