body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #EBEDEE;
    }
    
    /* Global */
    .container {
        width: 80%;
        margin: auto;
        overflow:hidden;
    }

    #newsletter{
        padding: 15px;
        color:#ffffff;
        background: #35424a;
    }
   
    /* Newsletter */
   
    #newsletter h1 {
        float: left;
    }
   
    #newsletter form{
        float: right;
        margin-top:15px;
    }
   
    #newsletter input [type="email"]{
        padding:4px;
        height:25px;
        width: 250px;
    }
    #newsletter button, .quote button{
        display:block;
        width:100%;
    }
    
    #newsletter form input [ type="email"], .quote input, .quote textarea{
        width: 100%;
        margin-bottom:5px;
    
    }