body {
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*global*/

.container {
    width:80%; /*responsive*/
    margin:auto;
    overflow: hidden;
}

ul {
    margin:0;
    padding:0;
}

.button_1{
    height: 38px;
    background:#f70000;
    border:0;
    padding-right: 20px;
    padding-left: 20px;
    color:#ffffff;
}

.dark {
    padding: 15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

/*header*/
header {
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height: 70px; /*responsive*/
    border-bottom: #f70000 3px solid;
}

header a {
    color:#ffffff;
    text-decoration: none; /*removes underline*/
    text-transform: uppercase;
    font-size: 16px;    
}

header li {
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float:left;
}

header #branding h1 {
    margin:0;
    margin-left:100px;
}

header nav {
    float:right;
    margin-top:10px;
}

header .highlight, header .current a {
    color:#f70000;
    font-weight:bold;
}

header a:hover {
   color:#cccccc;
   font-weight: bold;
}

/*showcase*/

#showcase {
    min-height: 600px; /*responsive*/
    background: url('../IMG/showcase.jpg') no-repeat 100% -10px;
    
}

#showcase .container {
    float: left;
    width: 40%;
    text-align: center;
    margin-top: 0;
    padding-left: 5%;
}

#showcase h1 {
    font-size:50px;
}

#showcase p {
    font-size:20px;
}

.box img {
width: 200px;
height: 200px;
}

/*newsletter*/

#newsletter {
    padding:15px;
    color:#ffffff;
    background: #35424a ;
   }

#newsletter h1 {
    float:left
}

#newsletter form {
    float:right;
    margin-top:20px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height:25px;
    width: 250px;
}

/*boxes*/

#boxes {
    margin-top: 30px;
}

#boxes .box {
    float: left;
    text-align: center;
    width:30%;
    padding: 10px;
}

/*article*/
article#main-col {
    float:left;
    width:65%;
    margin-top:10px;
    text-align: justify;
}

/*sidebar*/
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
    text-align: justify;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}

/*services*/

ul#services li{
list-style: none;
padding:20px;
border:#cccccc solid 1px;
margin-bottom: 5px;
background: #e6e6e6;
text-align: justify;
}

footer {
    padding: 20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#003000;
    text-align: center;
    opacity: 0.9;
}



/*media queries-step5*/

@media (max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form
    #boxes .box 
    #main-col;   
    #sidebar{
        float:none;
        text-align: center;
        width:100%;
    }
    
    header {
        padding-bottom:20px;
    }
    
    #showcase h1{
        margin-top:40px;
        text-align:center;
    }
    
    #newsletter button, .quote button{
        display: block;
        width:100%;
    }
    
    #newsletter form input [type="email"], .quote input, .quote textarea
    
    {
        width:100%;
        margin-bottom:5px;
    }
    
    }
