body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: aqua;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background-color: darkslategray;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-top: red solid 3px;
    border-bottom: red solid 3px;
}
header a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}
header ul {
    padding: 0;
    margin: 0;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
float:left;
}
#branding h1 {
    margin: 0;
}
nav {
    float: right;
    margin: 10px;
}
header .highlight, header .current a {
    color: red;
    font-weight: bold;
}
header a:hover {
    color: gray;
    font-weight: bold;
}
#showcase {
    min-height: 400px;
    background:url("../img/showcase.jpg") no-repeat 0 -400px;
    text-align: center;
    color: white;
}
#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p {
    font-size: 20px;
}
#newsletter {
    padding: 15px;
    color: white;
    background-color: darkslategray;
}
#newsletter h1 {
    float: left;
}
#newsletter form {
    float: right;
    margin-top: 20px;
}
#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}
.button {
    height: 36px;
    background: red;
    color: white;
    border: 0;
    padding: 0 20px 0 20px;
}
/* Boxes */
#boxes{
    margin-top:20px;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  #boxes .box img{
    width:90px;
  }
  footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
  }
  
  /* Media Queries */
  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #showcase h1{
      margin-top:40px;
    }
  
    #newsletter button, .quote button{
      display:block;
      width:100%;
    }
  
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width:100%;
      margin-bottom:5px;
    }
  }