body {
    background-color:#000;
}
h1{
   color:#4CAF50; 
  text-align:center;
  text-decoration:underline ;
}
.h1{
    position:fixed;
    top:180px;
    align:center;
}
#tt{
    position:fixed;
    color:#4CAF50;
    left:40%;
    top:330px;
}
#screen{
   position:fixed;
    width:100%;
    height:1000px;
    background-color:#0f0f0f;
    z-index:1;
    align:center;
}
select{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    top:300px;
    left:30%;
    height:40px;
    width:40%;
}
input{
    width:80px;
    height:80px;
    background-color:#4CAF50;
    color:#fff;
    font-size:50px;
}
#reset{
    position:fixed;
    width:100%;
    opacity:0;
    display:none;
    background-color:#000;
    height:1000px;
}
.vote{
    color:#fff;
    position:fixed;
    bottom:15px;
    font-size:20px;
    font-style: oblique;
}
.btn{
    border: none;
    position:fixed;
    color: white;
    left:30%;
    display:none;
    padding: 15px 32px;
    width:150px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    height:40px;
    font-size:20px;
}
.w1{
    top:350px;
    background-color: #0cf;
    color:#000;
   width:200px;   
   left:20%;
}
.p1{
position:fixed;
 color:#4CAF50;
 left:10px;
 top:330px;
 display:none;
} 
.p2{
    position:fixed;
    color:#4CAF50;
    right:10px;
    top:330px;
}
.r{
     z-index:1;
    top:400px;
    background-color: #4CAF50;
}
.l{
    top:350px;
    background-color: red;
} 
.w{
    top:350px;
    background-color: #0cf;
      color:#000;
}
.vote a{
    color:#4CAF50;
}
.d{
    z-index:1;
    top:350px;
    background-color: #fff;
    color:#000;
}