body {
    text-align: center;
  }
  h1 {
    color: blue;
    text-align: center;
    font-size: 300%;
  }

  #board {
    display: flex;
    justify-content: center;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip h3 {
    color: blue;
    text-align: center;
    font-size: 1rem;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 2rem;
    padding: 1rem 0;
    position: absolute;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }